@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #2d2d2d;
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border: none;
}

header {
  background: linear-gradient(135deg, #ffffff, #1e1e1e);
  padding: 1px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: #fff solid 1px;
}

/*menu*/
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}



.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  
}

.logo img{
  max-width: 150px;
  max-height: 300%;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/*hero*/
#hero {
  display: flex;
  text-align: center;
  padding: 40px 20px;
  background: #1e1e1e;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

#hero h1 {
  font-size: 3rem;
  color: #fff;
}

#hero p {
  padding: 10;
}

.btn {
  background: #00f5d4;
  padding: 12px 30px;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  width: 50%;
  align-items: center;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.section {
  padding: 40px 0;
  background: #1e1e1e;
  border: none;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #00f5d4;
}

.servicos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.servico-card {
  background: #2d2d2d;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  transition: transform 0.3s, background 0.3s;
}

.servico-card:hover {
  transform: translateY(-10px);
  background: #3a0ca3;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.portfolio-item img {
  width: 100%;
  border-radius: 12px;
  max-width: 300px;
  max-height: 500%;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.stat-box {
  background: #222;
  padding: 40px;
  border-radius: 20px;
  min-width: 150px;
}

.stat {
  font-size: 3rem;
  font-weight: bold;
  color: #00f5d4;
  display: block;
}

/*button*/
#quiz {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  --darkGray: #333;
  --litRed: rgb(2, 25, 158);
  --glowRed: rgb(37, 38, 143);
  background-color: var(--darkGray);
  color: #fff;
}

#quiz-container-master {
  background: #292929;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 30px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
}

.quiz-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.quiz-container span {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 1;
  color: #000;
}

.quiz-container button {
  font: inherit;
  color: currentColor;
  background-color: #00f5d4;
  border: .1em solid var(--darkGray);
/*   border: .2em solid transparent; */
  border-radius: .5em;
  transition: all .25s ease-in;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, var(--glowRed) 0, transparent 1em, transparent 100%),
    linear-gradient(0deg, var(--glowRed) 0, transparent 1em, transparent 100%),
    linear-gradient(270deg, var(--glowRed) 0, transparent 1em, transparent 100%),
    linear-gradient(180deg, var(--glowRed) 0, transparent 1em, transparent 100%);
  background-position: -1em 0, 0 1em, 1em 0, 0 -1em;
  width: 100%;
  font-size: 150%;
  white-space: nowrap;
  padding: 10px 10px;
  display: flex;
  align-content: center;

  cursor: pointer;
}

.quiz-container button:focus, .quiz-container button:hover {
  border: .2em solid var(--litRed);
  box-shadow: 0 0 1.2em var(--litRed), inset 0 0 1.2em var(--litRed);
  outline: none;
}

.quiz-container button:focus + button, .quiz-container button:hover  + button {
  border-bottom-color: var(--darkGray);
  background-position: -1em 0, 0 1em, 1em 0, 0 0;
}

.quiz-container button:has(+ button:focus), .quiz-container button:has(+ button:hover) {
  border-top-color: var(--darkGray);
  background-position: -1em 0, 0 0, 1em 0, 0 -1em;
}

@media (min-width:36em) {
  #quiz-container-master {
    
  }

  .quiz-container button:focus + button, .quiz-container button:hover + button {
    border-right-color: var(--darkGray);
    background-position: 0 0, 0 1em, 1em 0, 0 -1em;
  }

  .quiz-container button:has(+ button:focus), .quiz-container button:has(+ button:hover) {
    border-left-color: var(--darkGray);
    background-position: -1em 0, 0 1em, 0 0, 0 -1em;
  }
}

/*end button*/

#resultadoQuiz {
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#form-contato input,
#form-contato textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

#form-contato button {
  padding: 15px 30px;
  background: #00f5d4;
  color: #000;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#form-contato button:hover {
  transform: scale(1.05);
}

.formulario {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px 50px 20px;
  border: none;
}

.contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 3rem 0rem 0rem 0rem;
  border-top: 0.4px solid #00f5d4;
}

.whatsapp, .instagram, .email, img{
  max-width: 70px;
  max-height: 200%;
}

footer {
  text-align: center;
  padding: 20px;
  background: #121212;
  font-size: 0.9rem;
  color: #aaa;
}

/* Cursor customizado */
.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #00f5d4;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  z-index: 9999;
}


@media screen and (max-width: 630px) {
  .header{
    padding: 1px;
  }
  .logo img{
    max-width: 100px;
    max-height: 120%;
  }
  .nav-bar {
    padding: .5rem;
  }
  .nav-item {
      display: none;
      margin: 0;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: flex;
      align-items: stretch;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .open {
      display: block;
  }

  #hero {
    align-items: center;
  }
  #hero h1 {
    font-size: 2rem;
    margin: 20px 0px;
    color: #fff;
  }
  .btn {
    width: 80%;
  }

  .section h2 {
    font-size: 2rem;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*button*/
  .quiz-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  /*end button*/

}
