@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #f53b00, #0003a5, #f53b00);
  color: #fff;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border: none;
}

header {
  background: linear-gradient(135deg, #f53b00, #0003a5);
  padding: 1px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: #f53b00 solid 2px;
}

/*menu*/
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  
}

.logo img{
  max-width: 150px;
  max-height: 300%;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-family: 'Sarala', sans-serif;
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
  font-weight: bold;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/*hero*/
#hero {
  display: flex;
  text-align: center;
  padding: 40px 20px;
  background-color: transparent;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

#hero h1 {
  font-size: 3rem;
  color: #fff;
}

#hero p {
  padding: 10;
}

.btn {
  background: #f53b00;
  padding: 12px 30px;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  width: 50%;
  align-items: center;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.section {
  padding: 40px 0;
  background: transparent;
  border: none;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #fff;
}

.servicos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.servico-card {
  background: #f53b00;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  transition: transform 0.3s, background 0.3s;
}

.servico-card:hover {
  transform: translateY(-10px);
  background: #3a0ca3;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.portfolio-item img {
  width: 100%;
  border-radius: 12px;
  max-width: 300px;
  max-height: 500%;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.stat-box {
  background: #222;
  padding: 40px;
  border-radius: 20px;
  min-width: 150px;
}

.stat {
  font-size: 3rem;
  font-weight: bold;
  color: #f53b00;
  display: block;
}

/*button*/
#quiz {
  padding: 3%;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  --darkGray: #292929;
  --litRed: rgb(2, 25, 158);
  --glowRed: rgb(37, 38, 143);
  background-color: transparent;
  color: #fff;
}

#quiz-container-master {
  background: #292929;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 30px;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1em;
}

.quiz-container {
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.quiz-container span {
  font-family: "Sarala", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 1;
  color: #000;
  margin: 0 auto;
}

.quiz-container button {
  font: inherit;
  color: currentColor;
  background-color: #f53b00;
  border: .1em solid var(--darkGray);
/*   border: .2em solid transparent; */
  border-radius: .5em;
  transition: all .25s ease-in;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, var(--glowRed) 0, transparent 1em, transparent 100%),
    linear-gradient(0deg, var(--glowRed) 0, transparent 1em, transparent 100%),
    linear-gradient(270deg, var(--glowRed) 0, transparent 1em, transparent 100%),
    linear-gradient(180deg, var(--glowRed) 0, transparent 1em, transparent 100%);
  background-position: -1em 0, 0 1em, 1em 0, 0 -1em;
  width: 100%;
  font-size: 150%;
  white-space: nowrap;
  padding: 10px 10px;
  display: flex;
  align-content: center;

  cursor: pointer;
}

.quiz-container button:focus, .quiz-container button:hover {
  border: .2em solid var(--litRed);
  box-shadow: 0 0 1.2em var(--litRed), inset 0 0 1.2em var(--litRed);
  outline: none;
}

.quiz-container button:focus + button, .quiz-container button:hover  + button {
  border-bottom-color: var(--darkGray);
  background-position: -1em 0, 0 1em, 1em 0, 0 0;
}

.quiz-container button:has(+ button:focus), .quiz-container button:has(+ button:hover) {
  border-top-color: var(--darkGray);
  background-position: -1em 0, 0 0, 1em 0, 0 -1em;
}

@media (min-width:36em) {
  #quiz-container-master {
    
  }

  .quiz-container button:focus + button, .quiz-container button:hover + button {
    border-right-color: var(--darkGray);
    background-position: 0 0, 0 1em, 1em 0, 0 -1em;
  }

  .quiz-container button:has(+ button:focus), .quiz-container button:has(+ button:hover) {
    border-left-color: var(--darkGray);
    background-position: -1em 0, 0 1em, 0 0, 0 -1em;
  }
}

/*end button*/

#resultadoQuiz {
  font-style: italic;
  font-weight: bold;
  color: #f53b00;
}

/*planos inicio*/
.ver-planos {
  padding: 12px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: white;
}

.conteudo-planos {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: aliceblue;
  justify-content: space-around;
  gap: 15px;
  padding: 10px 100px;
  margin: 0 auto;
}

.conteudo-planos-caixa {
  border-radius: 20px;
  background: linear-gradient(68.15deg, #1c4162 16.62%, #0e1d39 85.61%);
  padding: 10px 5px 80px 5px;
  max-width: 350px;
}

.conteudo-planos-titulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #d7f9ff;
  margin: 5px 0px 0px 5px;
  padding: 5px 0px 0px 5px;
}

.conteudo-planos-paragrafo {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #70b7ae;
  margin: 5px 0px 5px 5px;
  padding: 5px 0px 10px 5px;
}

.conteudo-planos-valor-caixa {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0px;
  background-color: #021017;
}

.conteudo-planos-valor-preço {
  margin: 0px;
  padding: 15px 0px 15px 15px;
  color: #f53b00;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.conteudo-planos-valor-mes {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: aliceblue;
  margin: 0px;
  padding: 30px 0px 15px 0px;
}

.conteudo-planos-botao {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 45px;
  color: #04130f;
  background-color: #f53b00;
  border: none;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 14px;
  transition-duration: 250ms;
  text-decoration: none;
  border-radius: 5px;
}

.conteudo-planos-botao:hover {
  background-color: aliceblue;
  border: 1px solid #2bfdbe;
}

.conteudo-planos-botao {
  cursor: pointer;
}

.conteudo-planos-gatantir {
  margin: 5px;
  padding: 5px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.conteudo-planos-lista {
  margin: 5px;
  padding: 5px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: rem;
}
/*planos fim*/

.quem-somos {
  display: flex;
  flex-direction: column;
}

.quem-somos h2 {
  margin-top: 30px;
}

  .quem-somos-texto {
    text-align: center;
  margin: 0px 10px 50px 10px;
}

.quem-somos-img {
  margin: 0 auto;
  background: linear-gradient(100deg, #e9d5cf, #777be0, #8989ee, #d3c8c4);
  border-radius: 20px;
  padding: -20px 0px;
}

.quem-somos-img img {
  max-width: 250px;
  max-height: 300%;
}

.formulario {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  border: none;
}

#form-contato {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0% 2%;
}

#form-contato input,
#form-contato textarea {
  width: 90%;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-family: 'Sarala', sans-serif;
}

#form-contato button {
  margin: 20px 0px 0px;
  padding: 15px 200px;
  background: #0003a5;
  color: #fff;
  border: 1px solid white;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Sarala", sans-serif;
}

#form-contato button:hover {
  transform: scale(1.15);
}

.contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 3rem 0rem 0rem 0rem;
}

.whatsapp, .instagram, .email, img{
  max-width: 40px;
  max-height: 120%;
}

footer {
  text-align: center;
  padding: 20px;
  background: #121212;
  font-size: 0.9rem;
  color: #aaa;
}

/* Cursor customizado */
.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #f53b00;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s;
  z-index: 9999;
}


@media screen and (max-width: 630px) {
  .header{
    padding: 1px;
  }
  .logo img{
    max-width: 120px;
    max-height: 140%;
  }
  .nav-bar {
    padding: .5rem;
  }
  .nav-item {
      display: none;
      margin: 0;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: flex;
      align-items: stretch;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .open {
      display: block;
  }

  body {
    background: linear-gradient(100deg, #f53b00, #0003a5, #0003a5, #f53b00);
  }

  #hero {
    align-items: center;
  }
  #hero h1 {
    font-size: 2rem;
    margin: 20px 0px;
    color: #fff;
  }
  .btn {
    width: 80%;
  }

  .section h2 {
    font-size: 2rem;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /*preços/planos*/
  .conteudo-planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    max-width: 400px;
  }

  .conteudo-planos-botao {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
  .conteudo-planos-botao strong {
    padding: 2px;
    font-size:120%;
  }

/*preços/planos-fim*/

  /*button*/
  .quiz-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  /*end button*/

  /*submit button*/
  #form-contato button {
    padding: 15px 80px;
  }

}
