
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background-color: rgb(17, 16, 16);
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: black;
}

.cabeçalho-imagem {
    height: 125px;
    width: 125px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-menu-item {
    font-family: 'sarala' sans-serif;
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid aliceblue;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    color: blueviolet;
}

.conteudo-principal-subtitulo {
    font-family: 'sarala' sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: antiquewhite;
}

.conteudo-principal-escrito-botao {
    width: 180px;
    height: 60px;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(255, 255, 255, 0.25);
    font-family: 'sarala' sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.conteudo-principal-escrito-botao:hover {
    background-color: aliceblue;
    border: 1px solid #2bfdbe;
    color: black;
}

.conteudo-principal-escrito-botao {
    cursor: pointer;
}

.conteudo-principal-imagem {
    width: 400px;
    height: 430;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 5px;
    margin-top: 48px ;
    width: 450;

    margin-bottom: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid aliceblue;
    padding-top: 50px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 27px;
    color: aliceblue;
    margin-bottom: 50px;
}

.conteudo-secundario-paragrafo {
    font-family: 'sarala' sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: blueviolet;
    padding: 8px;
}

.ver-planos {
    padding: 32px;
    border-top: 0.4px solid white;
    border-bottom: 0.4px solid white;
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 40px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: aqua;
}

.conteudo-planos {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: aliceblue;
    justify-content: space-around;
    gap: 15px;
    padding: 10px 100px 10px 100px;
    margin: 0 auto;
}

.conteudo-planos-caixa {
    border: 1px solid #2bfdbe;
    background: linear-gradient(68.15deg, #1c4162 16.62%, #0e1d39 85.61%);
    padding: 10px 5px 80px 5px;
}

.conteudo-planos-titulo {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #d7f9ff;
    margin: 5px 0px 0px 5px;
    padding: 5px 0px 0px 5px;
}

.conteudo-planos-paragrafo {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #70b7ae;
    margin: 5px 0px 5px 5px;
    padding: 5px 0px 10px 5px;
}

.conteudo-planos-valor-caixa {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0px;
    background-color: #021017;
}

.conteudo-planos-valor-preço {
    margin: 0px;
    padding: 15px 0px 15px 15px;
    color: #76fff8;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.conteudo-planos-valor-mes {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: aliceblue;
    margin: 0px;
    padding: 30px 0px 15px 0px;
}

.conteudo-planos-botao {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 45px;
    color: #04130f;
    background-color: #2bfdbe;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition-duration: 250ms;
}

.conteudo-planos-botao:hover {
    background-color: aliceblue;
    border: 1px solid #2bfdbe;
}

.conteudo-planos-botao {
    cursor: pointer;
}

.conteudo-planos-gatantir {
    margin: 5px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.conteudo-planos-lista {
    margin: 5px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: rem;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid white;
    background-color: black;
}

.rodape-texto {
    font-family: 'inter', serif;
    margin: 2%;
    color: antiquewhite;
}

.rodape-imagem {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.all-rights {
    display: flex;
    justify-content: center;
    color: white;
}
